In [5]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
q1 = pd.read_csv(filepath_or_buffer="question1.csv")
q2 = pd.read_csv(filepath_or_buffer="question2.csv")
q3 = pd.read_csv(filepath_or_buffer="question3.csv")
q4 = pd.read_csv(filepath_or_buffer="question4.csv")

In [10]:
q1

              name  year  month    paid
0      Ana Bradley  2007      2   19.96
1      Ana Bradley  2007      3   71.84
2      Ana Bradley  2007      4   72.88
3      Ana Bradley  2007      5    2.99
4       Clara Shaw  2007      2   22.94
5       Clara Shaw  2007      3   72.84
6       Clara Shaw  2007      4   93.82
7      Curtis Irby  2007      2   22.94
8      Curtis Irby  2007      3   86.83
9      Curtis Irby  2007      4   54.86
10     Curtis Irby  2007      5    2.99
11    Eleanor Hunt  2007      2   22.95
12    Eleanor Hunt  2007      3   87.82
13    Eleanor Hunt  2007      4  100.78
14       Karl Seal  2007      2   41.91
15       Karl Seal  2007      3   76.87
16       Karl Seal  2007      4   89.80
17     Marcia Dean  2007      2   37.92
18     Marcia Dean  2007      3   53.90
19     Marcia Dean  2007      4   73.80
20     Marcia Dean  2007      5    0.99
21   Marion Snyder  2007      2   44.92
22   Marion Snyder  2007      3   58.88
23   Marion Snyder  2007      4   85.82
24   Marion Snyder  2007      5    4.99
25        Mike Way  2007      2   35.94
26        Mike Way  2007      3   64.85
27        Mike Way  2007      4   61.88
28  Rhonda Kennedy  2007      2   19.96
29  Rhonda Kennedy  2007      3   74.85
30  Rhonda Kennedy  2007      4   96.81
31   Tommy Collazo  2007      2   25.93
32   Tommy Collazo  2007      3   67.88
33   Tommy Collazo  2007      4   89.82

In [13]:
names = pd.set(p1["name"])

TypeError: tuple indices must be integers or slices, not str

In [ ]:
width = 0.35 
p1 = plt.bar(q1["name"],q1["paid"])

#p1 = plt.bar(ind, menMeans, width, yerr=menStd)
#p2 = plt.bar(ind, womenMeans, width,
 #            bottom=menMeans, yerr=womenStd)

plt.ylabel('$USD paid')
plt.title('Money spent by Sakila\'s top 10 customers during 2007')
#plt.xticks(ind, ('G1', 'G2', 'G3', 'G4', 'G5'))
#plt.yticks(np.arange(0, 81, 10))
#plt.legend((p1[0], p2[0]), ('Men', 'Women'))

plt.show()